@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">
<body>

    <div class="container mt-5">
        <h1>About Aurora Brickwell</h1>
        <p class="lead">A Journey from Passion to Professionalism</p>
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/Screenshot 2024-04-12 091139.png" alt="Aurora Brickwell" class="img-fluid w-50 h-75"> 
            </div>
            <div class="col-md-6">
                <h3>Who is Aurora?</h3>
                <p>Aurora Brickwell, a renowned collector and master builder of Legos™, has turned her passion into a thriving online community. With a large following on social media and an exclusive distributor license with The Lego Group™, Aurora has been the go-to source for the latest and most sought-after Lego sets and unique designs.</p>
                <h3>Expanding Horizons</h3>
                <p>Aiming to streamline her sales and offer a more comprehensive service to her customers, Aurora is launching a web-based storefront. This platform will not only showcase her favorite Lego sets but also feature her own unique creations, making it easier for Lego enthusiasts to purchase and enjoy.</p>
                <h3>Innovation at Its Core</h3>
                <p>Understanding the importance of personalization and security, Aurora's website will boast machine learning-based product recommendations and fraud detection systems. These innovative features are designed to enhance the shopping experience and ensure a safe environment for all customers.</p>
                <h3>Join the Community</h3>
                <p>Whether you're a long-time fan or new to the world of Legos™, Aurora Brickwell's online store is your destination for exclusive sets, personal recommendations, and a community of like-minded enthusiasts. Welcome to the future of Lego shopping!</p>
            </div>
        </div>
    </div>

@*     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/js/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@
</body>
</html>
