@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IQueryable<ContentRecommendation>

<h1>ContentRecommendations</h1>

@foreach (ContentRecommendation cr in Model)
{
    <h3>@cr.product_name</h3>
}